@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-color: #7999A3;
}

h1 {
  font-size: 30px;
}

h2 {
  padding-top: 4px;
  font-weight: 500;
  font-size: 25px;
  color: #0560BC;
  text-transform: capitalize;
  @apply pb-2;
}

.text-color-blue {
  color: #1179E1;
}

.navbar-background {
  background-color: #1179E1;
  @apply h-24;
}

.navbar-search-bar {
  border-bottom: 1px solid white;
  background-color: inherit;
  color: white;
  @apply pb-1 pl-2 text-xl;
}

.navbar-search-bar:focus {
  outline: none;
}

.icons {
  @apply h-8;
}

.content {
  background-color: #E3E9E8;
  min-height: 100vh;
}

.card {
  background-color: white;
  @apply mb-8 pb-2 px-4 h-44;
}

.card-completed {
  background-color: #CFCECE;
}

.input-task {
  border-bottom: 1px solid #B8C5C9;
  background-color: inherit;
  color: #202124;
  @apply pb-1 pl-2 text-xl w-full mr-4;
}

.input-task:focus {
  outline: none;
}